@charset "UTF-8";

.h-33 {
  height: 33px;
}

/*距离样式*/
.mr {
  margin-right: 15px;
}

.ml15 {
  margin-left: 15px;
}

.ml95 {
  margin-left: 95px !important;
}

.pt5 {
  padding: 5px 0 !important;
  box-sizing: border-box;
}

.mr20 {
  margin-right: 20px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb14 {
  margin-bottom: 14px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mt3 {
  margin-top: 3px;
}

.mt35 {
  margin-top: 35px;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mt30 {
  margin-top: 30px;
}

.mt25 {
  margin-top: 25px;
}

.mt50 {
  margin-top: 50px;
}

.mt10 {
  margin-top: 10px;
}
.ml20 {
  margin-left: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.px20 {
  padding: 0 20px;
}
.px35 {
  padding: 0 35px;
}

.spBlock {
  display: block;
}

.mb5 {
  margin-bottom: 5px !important;
}

.pl25 {
  padding-left: 25px;
  box-sizing: border-box;
}
.mt4 {
  margin-top: 4px;
}
.mt5 {
  margin-top: 5px;
}
.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px !important;
}

.mt14 {
  margin-top: 14px;
}
.mt20 {
  margin-top: 20px;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mr50 {
  margin-right: 50px;
}
.ml40 {
  margin-left: 40px !important;
}
.ml32 {
  margin-left: 32px;
}
.ml30 {
  margin-left: 30px;
}

.mr14 {
  margin-right: 14px;
}
.ml22 {
  margin-left: 22px;
}

.font14 {
  font-size: 14px;
}
.f-w-500 {
  font-weight: 500;
}
.f-s-18 {
  font-size: 18px;
}
.text333 {
  color: #333;
}
.text999 {
  color: #999;
}
.text666 {
  color: #666;
}
.color-red {
  color: #f56c6c;
}
.color-909399 {
  color: var(--prev-color-text-secondary);
}
.font12 {
  font-size: 12px;
}
